/* Estilo de botão com fundo sólido */
.btn-primary {
    /* Cor de fundo desejada */
    background-color: #175c8d;
    border: none;
    color: #fff; /* Cor do texto */
}

/* Estilo de botão de foco (quando o mouse passa por cima) */
.btn-primary:hover {
    background-color: #166fad;
}
